@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comfortaa-v46-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/baloo-2-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(71, 94, 245);
    color: white;
    font-size: 3rem;
    font-family: 'Comfortaa';
}

.container{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.board {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: none;
}

button.cell{
    font-size: 4.5rem;
    padding: 0.8rem 0 0 0 ;
    margin: 0;
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button#restart {
    font-size: 1.7rem;
    margin-top: 5rem;
    font-family: 'Baloo 2';
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
}